<div class="footer footer-bottom">
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-6 ">
        <p>Built with
          <i class="fa fa-heart fa-fw text-danger">&nbsp;</i>
          in Biratnagar
        </p>
      </div>
      <div class="col-md-6 col-xs-6">
        <p class="pull-right hidden-xs">&copy; 2017
          <span class="text-primary">Ginux </span><span class="text-danger">Innovation</span></p>
      </div>
    </div>
  </div>
  <br>
</div>