<ul class="nav nav-pills nav-stacked stick-it sidebar" >
  <li class="nav-item">
    <a class="nav-link active" href="<%= categories_path %>">All Catagories<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= topics_path %>">All Topics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">All Links</a>
  </li>
  <li>
    <hr>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Favorites</a>
  </li>

</ul>