/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*body {*/
  /*padding-top: 50px;*/
/*}*/

/*
 * Typography
 */


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  /*top: 51px;*/
  top: 70px;
  left: 10px;
  z-index: 1000;
    height:100%;
    background-color: rgba(248, 248, 248, 0.33);
    border-right: 1px solid #e7e7e7;
    box-shadow: 0px 3px 10px rgba(185, 182, 182, 0.88);
    /*padding: 20px;*/
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*border-right: 1px solid #eee;*/
}

/* Sidebar navigation */
.sidebar {
    margin-top: -17px;
    margin-left: -10px;
    padding-top: 20px;
    padding-left: 44px;
    padding-right: 74px;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
