.toast-top-right .toast-error{
    background-color: #bd362f;
}
.login-message {
    color: white;
    background-color: #ff0039;
    border-color: #ff0039;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 30px;
}
.login-form {
    margin: 10px 0px 0px 0px;
    color: white;
}

body{
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}
.title{
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    font-size: 32px;
}
.title-head{
    margin: 60px 0px 12px 0px ;
}
.lead{
    color: #4f4f52
}
.lead {
    margin-bottom: 21px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 768px){
    .lead {
        font-size: 22.5px;
    }

    #whattodo .row .panel{
        height: 300px;
    }
}

@media (min-width: 1000px){
       #whattodo .row .panel{
        height: 235px;
    }
}

.title-bar{
    border-bottom: 1px solid #e5e5e5;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.scrollToTop{
    text-align:center;
    background: transparent;
    font-weight: bold;
    color: #006;
    text-decoration: none;
    position:fixed;
    top:480px;
    right:40px;
    display:none;
}
.scrollToTop:hover{
    text-decoration:none;
    color: #2bd004;
}
.section-two .fa {
    font-size: 65px;
}
.section-two .benefit-icon {
    padding-top: 20px;
    font-size: 23px;
}

.footer-top{
    background-color: #f0f0f0;
    border-color: #d9d9d9;
}
.footer-top h3{
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 15px;
}
.footer-top p, .footer-top a{
    color: #525252;
    font-size: 15px;
    margin-bottom: 10px;
}
.footer-top a:hover{
    text-decoration: none;
}
.contact-list li {
    color: #525252;
    margin-bottom: 5px;
}
.footer li {
    padding: 3px 0;
    font-size: 14px;
    list-style: none;
}
.footer ul{
    padding: 0px;
}
.social-links .facebook {
    background: #204385;
}
.social-links li {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    text-align: center;
    line-height: 35px;
}
.social-links li i {
    color: #ffffff;
    font-size: 20px;
}
.form-login a:hover{
    text-decoration: none;
}

/*side bar*/

.sidebar a{
    color: rgb(49, 49, 49);
}

.sidebar hr{
    border-bottom: 1px solid #9c9c9c;
    width: 30px;
    margin: 15px;
}

.overflow{
    margin-top: 110px;
}

.sidebar li a {
    padding: 5px 15px;
}
/*ends here*/

/*vertical bar*/

.vertical-bar .navbar .navbar-space .navbar-nav a{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.vertical-bar .navbar .navbar-space .navbar-nav i{
    font-size: 20px;
}
.vertical-bar .navbar-brand{
    padding: 15px 15px;
}
.vertical-bar nav{
    box-shadow: 0px 2px 10px #52504a;
    background-color: white;
}
.vertical-bar .navbar-inverse .navbar-nav>.open>a, .vertical-bar  .navbar-inverse .navbar-nav>.open>a:focus, .vertical-bar  .navbar-inverse .navbar-nav>.open>a:hover {
    color: black;
   background-color: #eeeeee;
}
.vertical-bar .logo{
    margin: 11px;
}


/*ends here*/

/*Category list*/
.catagory .panel-primary{
    border-color: rgba(255, 255, 255, 0.54);
    border-radius: 10px;
}

.catagory .panel .panel-body{
    padding-top: 0px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(228, 225, 225, 0.54);
    box-shadow: 0px 3px 10px rgba(185, 182, 182, 0.88);
}

.catagory .panel a:hover{
    text-decoration: none;
}

.goToTop {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

/*ends here*/

/*bread crumb*/

.overflow .page-header{
    margin: 0px 0 20px;
}

.overflow .breadcrumb{
    margin-bottom: 40px;
}
/*end*/

/*fa's*/
    .panel .panel-body .fa {
        color: #c2c2c2;
        font-size: large;
    }

.catagory .panel .panel-body .fa-icon {
    margin-top: 10px;
}
.catagory .panel .panel-body .databody {
    margin-top: 10px;
}
a:focus{
    text-decoration: none;
    color: #3c763d;
}
.alert-error{
    background-color: #ee0007;
    border-color: #ee0007;
    color: #fff0f9;
    text-align: left;
}
/*ends here*/

/*others*/
.text-success{
    color: #3c763d;
}

.user-info .form-horizontal .control-label{
    text-align: left;
}

.pp-avatar{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 2px #c1bbbb;
    margin-right: 3px;
    margin: -11px 0px -11px 0;
}

.pp-left{
    margin-left: 10px;
}
.profile-picture{
    height: 240px;
    width:240px;
}

.menue-username{
    font-weight: 600;
}

.hrmenu{
    border: 1px solid #000000;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 13px;
}
/*ends here*/